html {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.brand {
  font-family: "Lato", Verdana, sans-serif;
  font-size: 3em;
  font-weight: bold;
  display: inline-block;
  margin-left: 10px;
}

.brand a,a:hover {
  text-decoration: none;
  color: white;
}

header {
  padding: 0;
  top: 0;
  height: 60px;
  background-color: black;
  position: fixed;
  width: 100%;
}
nav {
  display: inline-block;
  float: right;
}

nav ul {
  display: inline-block;
  float: right;
}

nav ul li, a {
  display: inline-block;
  text-decoration: none;
  padding-right: 10px;
  color: white;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0px 0 10px 0;
  position: relative;
  top: 70px;
  z-index: -1;
}

.marketing {
  padding: 10px;
  margin: 1em 0;
  background-color: #555;
  color: white;
}

.features div {
  width: 30%;
  padding: 0 15px 0 15px;
  display: inline-block;
}

.features div:nth-child(2) {
  border-left: 2px solid #333; 
  border-right: 2px solid #333; 
}

footer {
  margin-top: 100px;
  background-color: black;
  text-align: center;
  color: white;
}
